* {
  font-family: "Inter", "Haettenschweiler";
}

body {
  background-color: #f6f8f8;
}

.hover-a-tag {
  color: black;
  text-decoration: none;
  background-image: linear-gradient(#159df8 0%, #159df8 100%);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 0.1em;
  transition: background-size 0.2s ease;
}

.hover-a-tag:hover {
  color: black;
  background-size: 100% 90%;
  background-image: linear-gradient(
    transparentize(#159df8, 0.3) 0%,
    transparentize(#159df8, 0.3) 100%
  );
}

.post-heading {
  color: black;
  text-decoration: none;
  background-image: linear-gradient(#159df8 0%, #159df8 100%);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 0em;
  transition: background-size 0.2s ease;
}

.post-heading:hover {
  color: black;
  background-size: 100% 88%;
  background-image: linear-gradient(
    transparentize(#159df8, 0.3) 0%,
    transparentize(#159df8, 0.3) 100%
  );
}

.web-heading1 {
  font-size: 7.3rem;
  font-weight: 700;
  letter-spacing: -5px;
  line-height: 6.9rem;
}

.select-work {
  padding-bottom: 150px;
}

.para p {
  padding-bottom: 1rem;
}

.carousal {
  max-width: 750px;
  position: relative;
  overflow: hidden;
}

.carousal-slider {
  display: flex;
}

.navigator-btn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.568);
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
}
.pre,
.next {
  top: 40%;
}
.pre {
  left: 0;
}
.next {
  right: 0;
}

@media only screen and (max-width: 800px) {
  .web-heading1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0;
    line-height: 1rem;
  }
}
