* {
  font-family: "Inter", "Haettenschweiler";
}

body {
  background-color: #f6f8f8;
}

.web-heading1 {
  font-size: 7.3rem;
  font-weight: 700;
  letter-spacing: -5px;
  line-height: 6.9rem;
}

.select-work {
  padding-bottom: 150px;
}

.para p {
  padding-bottom: 1rem;
}

.carousal {
  max-width: 750px;
  position: relative;
  overflow: hidden;
}

.carousal-slider {
  display: flex;
}

.navigator-btn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.568);
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
}
.pre,
.next {
  top: 40%;
}
.pre {
  left: 0;
}
.next {
  right: 0;
}

@media only screen and (max-width: 800px) {
  .web-heading1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0;
    line-height: 1rem;
  }
}
